<div class="section">
  <div class="row">
    <h4 class="title">Categoria</h4>
    <form class="col s12">
      <div class="row">
        <div class="input-field col s8">
          <input type="text" id="descricao" class="validate" placeholder="Descrição">
          <label for="descricao">Descrição</label>
        </div>
      </div>
      <h4 class="title">SubCategorias</h4>
      <div class="row">
        <div class="input-field col s2">
          <input type="number" id="sublevel" class="validate" placeholder="Level">
          <label for="sublevel">Level</label>
        </div>
        <div class="input-field col s6">
          <input type="text" id="subdescricao" class="validate" placeholder="Descrição">
          <label for="subdescricao">Descrição</label>
        </div>
      </div>
      <button class="waves-effect purple darken-2 btn" type="submit" name="action">Cadastrar
      </button>
    </form>
  </div>
</div>